/Tonight/bin
/Tonight/gen
gen
bin
/SwipeMenuListView/bin
/SwipeMenuListView/gen
/IMDemo/bin
/IMDemo/gen
/hoo-ad-module-contacts/bin
/hoo-ad-module-contacts/gen
/hoo-ad-lib/gen
/hoo-ad-lib/bin
/hoo-ad-customview-IosTbarView/gen
/hoo-ad-customview-IosTbarView/bin
/hoo-ad-customview-EditText-WithClear/bin
/hoo-ad-customview-EditText-WithClear/gen
/hoo-ad-customview-Contacts-SideBar/gen
/hoo-ad-customview-Contacts-SideBar/bin
/appcompat_v7_compatible/bin
/appcompat_v7_compatible/gen
